<%- include('./plantillas/cabeza.ejs'); %>
    <div class="row">
        <div class="container">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <!--Carrusel-->
                <div class="row">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                            <h4 class="text-center bg-light rounded">Modelos Top</h4>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>

                    <div class="row">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./img/TenisSK.jpg" class="img-fluid rounded mx-auto d-block" alt="..."
                                    style="height: 300px;">
                            </div>
                            <div class="carousel-item active">
                                <img src="./img/TenisSK.jpg" class="img-fluid rounded mx-auto d-block" alt="..."
                                    style="height: 300px;">
                            </div>
                            <div class="carousel-item active">
                                <img src="./img/TenisSK.jpg" class="img-fluid rounded mx-auto d-block" alt="..."
                                    style="height: 300px;">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modelos recientes-->
                <div class="row mt-5">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                            <h4 class="text-center bg-light rounded">Nueva coleccion</h4>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="/img/TenisSK.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="/img/TenisSK.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="/img/TenisSK.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="/img/TenisSK.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="/img/TenisSK.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="/img/TenisSK.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="/img/TenisSK.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="/img/TenisSK.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="/img/TenisSK.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur deleniti cupiditate natus rem tempora quo eligendi, nulla repellendus eius provident repellat repudiandae in? Consectetur maxime vitae nulla tempora veritatis suscipit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./plantillas/pie.ejs'); %>