<div class="row">
    <footer>
        <div class="conainer text-white mt-5">
            <div class="row">

                <div class="col">
                    <div class="row">
                        <h6>Reres Sociales</h6>
                    </div>
                    <div class="row">
                        <h6>
                            <img src="/rc/rs/facebook.png" class="img-fluid" alt="Facebook" style="height: 20px;">
                            Facebook
                        </h6>
                    </div>
                    <div class="row">
                        <h6>
                            <img src="/rc/rs/instagram.png" class="img-fluid" alt="Instagram" style="height: 20px;">
                            Instagram
                        </h6>
                    </div>
                    <div class="row">
                        <h6>
                            <img src="/rc/rs/gorjeo.png" class="img-fluid" alt="Twitter" style="height: 20px;">
                            Twitter
                        </h6>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <h6>Contacto</h6>
                    </div>
                    <div class="row">
                        <h6>Ofertas laborales</h6>
                    </div>
                    <div class="row">
                        <h6>informes</h6>
                    </div>
                    <div class="row">
                        <h6>Empresa</h6>
                    </div>

                </div>
            </div>

        </div>
    </footer>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</div>

</body>

</html>