<%- include('../plantillas/cabeza.ejs'); %>

    <div class="row align-content-center justify-content-center vh-100 ">
        <div class="col-auto rounded p-1">

            <div class="row">
                <h1 class="text-light text-center">
                    Inicio de sesion
                </h1>
            </div>

            <div class="row rounded p-1">
                <div class="row">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Iniciar Sesion
                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <form class="form-floating" method="post" action="/usuarios/inicio-sesion">

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="user"
                                                placeholder="name@example.com" name="user">
                                            <label for="floatingInput">Usuario: </label>
                                        </div>

                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="pass" placeholder="Password"
                                                name="pass">
                                            <label for="floatingPassword">Contraseña</label>
                                        </div>

                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Cerrar
                                            </button>

                                            <button type="submit" class="btn btn-primary">
                                                Iniciar Sesion
                                            </button>
                                        </div>

                                    </form>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h4 class="text-light text-center mt-4 mb-4">
                        o
                    </h4>
                </div>

                <div class="row">
                    <button class="btn btn-primary mt-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Button with data-bs-target
                    </button>

                    <div class="collapse mt-1" id="collapseExample">
                        <div class="card card-body">
                            <form class="row g-3" method="post" action="/usuarios/i/registrar">
                                <div class="col-md-4">
                                    <label for="validationDefault01" class="form-label">First name</label>
                                    <input type="text" class="form-control" id="validationDefault01" value="Mark"
                                        required>
                                </div>
                                <div class="col-md-4">
                                    <label for="validationDefault02" class="form-label">Last name</label>
                                    <input type="text" class="form-control" id="validationDefault02" value="Otto"
                                        required>
                                </div>
                                <div class="col-md-4">
                                    <label for="validationDefaultUsername" class="form-label">Username</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                        <input type="text" class="form-control" id="validationDefaultUsername"
                                            aria-describedby="inputGroupPrepend2" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationDefault03" class="form-label">City</label>
                                    <input type="text" class="form-control" id="validationDefault03" required>
                                </div>
                                <div class="col-md-3">
                                    <label for="validationDefault04" class="form-label">State</label>
                                    <select class="form-select" id="validationDefault04" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="validationDefault05" class="form-label">Zip</label>
                                    <input type="text" class="form-control" id="validationDefault05" required>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                            required>
                                        <label class="form-check-label" for="invalidCheck2">
                                            Agree to terms and conditions
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Submit form</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../plantillas/pie.ejs'); %>